<div class=wholebox>

<h1>목요일 아침9시 전까지</h1>
<br><br>
*윤하<br>
성대생 인증 서비스 : 회원가입시 @skku.edu 이메일 인증받기<br>
state_machine gem을 활용<br>
아이디+닉네임 -> 이메일 인증 -> 비번 설정<br>
아이디 + 닉네임 + 비밀번호 -> 이메일 인증 -> 활성화<br>
둘 중 택 1할 꺼임.<br>

<br><br>

*여진<br>
이미지 업로드 기능 구현+뷰에서 보기(+편집) (carrierwave gem 활용)<br>
후기/별점페이지를 show 한페이지에서 볼 수 있도록 render 하기<br>
<br><br>
*시은 <br>
게시판+댓글 세트 2개 더 만들기. 수요자 게시판/공급자 게시판/자유게시판<br>
각 댓글에 댓글 단 사람 자체의 user 등록<br>
문의 : 컨텐츠를 등록한 user와 댓글을 등록한 user 둘만(관리자도) 볼 수 있는 비밀댓글.<br>
후기/별점(letsrate gem을 이용해서) 페이지: 각각의 show에서 그 게시물의 방(주인)에 대한 평가를 쓰고+볼 수 있게 m/v/c 지정<br>
   (->여진: 이 view를 show 한페이지에서 밑에 보일 수 있게 render)<br>
<br><br>


*민서<br>
자바스크립트를 이용하여 뷰에서 장소의 위치를 지도로 등 +보기 -> 사용자가 주소를 입력하면 그 주소를구글지도에 표시해서 보여주거나, 아니면 구글지도 하나 만들어서 사람들이 주소를 복사하여 거기다가 검색하여 찾아보 기
 <br><br><br>
더 해야되는 것
 <br><br><br>
이름 정하기(후보)
성대한 자취
<br><br><br><br>



*new에 글 등록 양식(자취방 옵션,날짜,위치 등) 만들기<br>
*날짜를 달력으로 받기<br>
*디자인은 해커톤날에 다 하고 기능은 그전에 거의 끝내놓는 걸로<br>
*회원가입 성별(체크박스로 받기), 전화번호…? 받기 추가<br>
*성대사랑 원룸게시판/페이스북은 글의 양이 그리 많지 않아서 크롤링은 위의 기능들을 다 만들고도   시간이 남는다면 하기로 결정
<br><br>
1.	회원가입 – 학번,이름,전화번호,메일,비밀번호,아이디(SKKU메일인증)<br>
2.	방사진 첨부, 필수 옵션 기입(위치,성별,가구)<br>
3.	게시판 만들기(crud)-<br>
->수요자, 공급자 따로<br>
->자유게시판도<br>
<br>
<br>
있으면 좋은거-<br> 
4.위치-지도<br>
5.날짜-달력<br>
6. 비밀댓글<br>
7.수요자/공급자 권한 따로<br>
8.크롤링(페이스북,성대사랑)<br>
9.후기/별점 평가<br>
<br><br>
</div>