<link rel="stylesheet" type="text/css" href="/assets/main_sh.css">

<div class="scene">
    <h1>lorem ipsom</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor, ante eu porta aliquam,</p>
</div>

<div class="wholebox">
    
    
</div>