
body {
    font-family: 'Iropke Batang', serif;
}

#mainname {
    font-size:50px;
    text-align:center;
    font-weight:900;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FC437E;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*li:hover{*/
/*    color:#FC437E !important;*/
/*    background-color:white;*/
/*}*/

/* visited link */
li>a{
    text-decoration:none;
}
li a:link {
    color: white;
    text-decoration:none;
}
li a:visited {
    color: white;
}

/* mouse over link */
li a:hover {
    font-weight:bold;
}
.wholebox {
    margin:30px 30px auto;
    display: inline-block;
}


#user_email {
    width: 435px;
}

.r_image {
    width:400px;
}

.mini_rimage {
    width:150px;
}