@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.wrap { 
    font-family: 'Jeju Gothic', sans-serif;
    font-size : 20px;

}
/*body {*/
/*    font-family: 'Iropke Batang', serif;*/
/*}*/

#mainname {
    font-size:50px;
    text-align:center;
    font-weight:900;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FC437E;
}

li {
    
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*li:hover{*/
/*    color:#FC437E !important;*/
/*    background-color:white;*/
/*}*/

/* visited link */
li>a{
    text-decoration:none;
}
li a:link {
    color: white;
    text-decoration:none;
}
li a:visited {
    color: white;
}

/* mouse over link */
li a:hover {
    font-weight:bold;
}
.wholebox {
    text-align: center;
    width:100%;
    /*margin: 1%  3% auto;*/
    display: inline-block;
}

.home{
    margin: 0;
    width: 80%;
    height: 100%;
}
#user_email {
    width: 435px;
}
.signUpCss{
    width:435px !important;
    margin-bottom:15px;
}

.replyCss{
    text-align:left;
    border: 1px solid black;
    width:40%;
    margin:auto;
}
.replyInput{
    width:40%;
    margin:auto;
    margin-top:30px;
    height:100%;
}
.replyInputCss{
    width:100%;
}
.r_image {
    width:400px;
}

.mini_rimage {
    width:250px;
    height:150px;
}

.menuicon {
    height: 50px;
    
    
}

.smalltitle{
    margin : auto;
    width : 10%;
    
}
.bigmenu {
   margin-left:40%;
   width:20%;
}

.img_home {
    width:100%;
}

.stars {
    width:150px;
}


.bottom{
     position: absolute;
    bottom: -1000px;
     width: 2px;
    height: 100px;
    margin-left: 350px;
    
}

.row a:link {
    color: black;
    text-decoration:none;
}
.row a:visited {
    color: black;
}

/* mouse over link */
.row a:hover {
    font-weight:bold;
}




.post{
text-align: center;
width:80%;
margin:auto;
}

.show{
     text-align: left;
     margin:auto;
}

#comment_body {
    width:450p;
}